services:

  app:
    image: chamonali121/socialapp:latest
    container_name: social_app
    restart: always
    profiles:
      - prod
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "5000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - socialapp-network

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    profiles:
      - prod
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - socialapp-network

  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    profiles:
      - prod
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - socialapp-network

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: always
    profiles:
      - prod
    ports:
      - "3001:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - socialapp-network

  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: always
    profiles:
      - prod
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - socialapp-network

volumes:
  postgres_data:
  redis_data:
  grafana_data:
  loki_data:

networks:
  socialapp-network:
    driver: bridge
